
.container, .calculatrice{
    border: 2px solid;
    background-color: burlywood;
    margin-top: 5%;
    border-radius: 5px;
}
.calculatrice{
    width: 60%;
    margin: auto;
    
}
#memory{
    bottom:35px;
    left: 10px;
    position: relative;
    display: none;
    
}
.mr{
    width: 50px;
}
/* .col-3{
    border: 1px solid
} */
